In [1]:
import sqlite3

# Activity 1.1 Create a database called student_information.db

In [2]:
con = sqlite3.connect('student_information.db')
cur= con.cursor()

# Activity 1.2 Create two tables called Students and results in the student_information database

In [8]:
first_command = """CREATE TABLE students(
                        StdID INT(4) PRIMARY KEY, 
                        StdName VARCHAR(30) NOT NULL,
                        Sex VARCHAR(1),
                        Major VARCHAR(30), 
                        DOB DATE)"""
second_command = """CREATE TABLE results(StdID INT(4) PRIMARY KEY, 
                    Credit_hours_completed INT, GPA DECIMAL)"""
cur.execute(first_command)
cur.execute(second_command)

OperationalError: table students already exists

In [9]:
# Insert the data
cur.execute("""INSERT INTO students VALUES 
                (1, 'John Smith', 'MALE' ,'DataScience', '10/11/1996'),
                (2, 'Mary Johnson', 'FEMALE' ,'biology', '1/2/2000'),
                (3, 'Alice Davis', 'FEMALE' ,'biology', '3/4/2001'),
                (4, 'Robert Rob', 'MALE' ,'physics', '1/5/1999'),
                (5, 'Victoria Roberts', 'FEMALE' ,'computer science', '2/10/1998'),
                (6, 'Bob Williams', 'MALE' ,'physics', '2/11/1999'),
                (7, 'George Brown', 'MALE' ,'computer science', '3/16/2000'),
                (8, 'Jennifer Wilson', 'FEMALE' ,'biology', '4/15/2000'),
                (9, 'Patrick Jones', 'MALE' ,'computer science', '10/11/2000'),
                (10, 'Michael Miller', 'MALE' ,'physics', '9/8/2000'),
                (11, 'Christina Moore', 'FEMALE' ,'biology', '10/2/1999'),
                (12, 'Tom Jackson', 'MALE' ,'physics', '11/2/1999')
                """)

cur.execute("""INSERT INTO results VALUES 
            (1, 25, 3.5)
            (2, 68, 3.2),
            (3, 55, 3.3), (4, 22, 3.9), (5, 90, 2.5), 
            (6, 110, 3.8), (7, 84, 3.9),
            (8, 16, 3.1), (9, 58, 1.4), (10, 80, 4),
            (11, 44, 3.6), (12, 102, 3.5)""")

IntegrityError: UNIQUE constraint failed: students.StdID

# Activity 2.1 Display all the records from the Students table

In [ ]:
cur.execute("SELECT * FROM Students")
ANS= cur.fetchall()
print(ANS)

# Activity 2.2 Display all the records from results table

In [4]:
cur.execute("SELECT * FROM results")
ANS= cur.fetchall()
print(ANS)

[]

# Activity 2.3 Display student names and date of births from the Students table

In [5]:
cur.execute("SELECT StdName, DOB FROM students")
ANS= cur.fetchall()
print(ANS)

[('John Smith', '10/11/1996'), ('Mary Johnson', '1/2/2000'), ('Alice Davis', '3/4/2001'), ('Robert Rob', '1/5/1999'), ('Victoria Roberts', '2/10/1998'), ('Bob Williams', '2/11/1999'), ('George Brown', '3/16/2000'), ('Jennifer Wilson', '4/15/2000'), ('Patrick Jones', '10/11/2000'), ('Michael Miller', '9/8/2000'), ('Christina Moore', '10/2/1999'), ('Tom Jackson', '11/2/1999')]

# Activity 2.4 Display all records from the Students table where GPA is greater than or equal to 3.5 from results table.

In [6]:
cur.execute("""SELECT * FROM students 
            WHERE StdID IN (SELECT StdID FROM results WHERE GPA >= 3.5)""")
ANS = cur.fetchall()
print(ANS)

[]

# Activity 2.5 Display student name and major from Students where GPA is less than 2.7 from RESULTS table

In [7]:
cur.execute("""SELECT * FROM students 
            WHERE StdID IN (SELECT StdID FROM results WHERE GPA < 2.7)""")
ANS = cur.fetchall()
print(ANS)

[]